<form  action="/records" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" value="<%= @record.title %> " id="title" >

  <label for="genre">Genre:</label>
  <input type="text" name="genre" value="<%= @record.genre %> " id="genre">

  <label for="released">Released:</label>
  <input type="text" name="released" value="<%= @record.released %> " id="released">

  <label for="artwork">Artwork:</label>
  <input type="text" name="artwork" value="<%= @record.artwork %> " id="artwork">

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" value="<%= @record.quantity %> " id="quantity">

  <label for="buy-price">Buy Price:</label>
  <input type="number" name="buy_price" value="<%= @record.buy_price%> " id="buy-price">

  <label for="sell-price">Sell Price:</label>
  <input type="number" name="sell_price" value="<%= @record.sell_price %> " id="sell-price">

  <input type='submit' value="Edit Record">
</form>
