<h1>Current Inventory</h1>
<nav>
  <ul>
    <li><a href="records/new">Add Item</a></li>
  </ul>
</nav>



<% @records.each do |record| %>
<details>
  <summary>Title: <%= record.title() %></summary>
  <p>Artist: <%= record.artist_name %></p>
  <p>Genre: <%= record.genre %> </p>
  <p>Released: <%= record.released %></p>
  <p>Quantity: <%= record.quantity %></p>
  <p><%=record.quantity_tracker%></p>
  <p>Buy Price: <%= record.buy_price %></p>
  <p>Sell Price: <%= record.sell_price %></p>
  <p><a href="/records/<%= record.id %>/edit">Edit Record</a></p>
  <form class="" action="/records/<%= record.id %>/delete" method="post">
    <input type="submit" name="" value="delete record">
    </form>

  </details>
  <hr />
  <% end %>
