<h1>Stock</h1>
<details><summary>In stock</summary>
  <% @records.each do |record| %>
  <% if record.quantity.to_i >= 11 %>
  <p>Title: <%= record.title %></p>
  <p>Quantity: <%= record.quantity %></p>
    <hr>
  <% end %>
  <% end %>

</details>
<details><summary>Low Stock</summary>
  <% @records.each do |record| %>
  <% if record.quantity.to_i <= 10 && record.quantity.to_i > 0%>
  <p>Title: <%= record.title %></p>
  <p>Quantity: <%= record.quantity %></p>
    <hr>
  <% end %>
  <% end %>

</details>
<details><summary>Out of Stock</summary>
  <% @records.each do |record| %>
  <% if record.quantity.to_i == 0 %>
  <p>Title: <%= record.title %></p>
  <p>Quantity: <%= record.quantity %></p>
    <hr>
  <% end %>
  <% end %>

</details>
