<h1>Artists</h1>
 <form action="/records/new" method="get">
    <input class="btn-add" type="submit" name="" value="Add Artist">
    </form>

<% @artists.each do |artist| %>
<div class="inv_cont">
<details>
  <summary>Artist: <%= artist.name %></summary>
  <p>Status: <%= artist.status %></p>
  <p>Albums: <%= artist.records %></p>
  <div class="container-btn">
  <form action="/artists/<%= artist.id %>/edit" method="get">
    <input class="btn" type="submit" name="" value="Edit Artist">
</form>
<form class="" action="/artists/<%= artist.id %>/delete" method="post">
  <input class="btn" type="submit" name="" value="Delete Artist">
  </form>
  </div>
</details>

</div>
<% end %>
