<h1>Artists</h1>
<nav>
  <ul>
    <li><a href="records/new">Add Item</a></li>
  </ul>
</nav>

<% @artists.each do |artist| %>
<details>
  <summary>Artist: <%= artist.name %></summary>
  <p>Status: <%= artist.status %></p>
  <p>Albums: <%= artist.records %></p>
  <p><a href="/artists/<%= artist.id %>/edit">Edit Artist</a></p>
  <p><a href="/artists/<%= artist.id %>/delete">Delete Artist</a></p>

</details>
<hr />
<% end %>
